{% extends 'base.html.twig' %}

{% block title %}{{ sms.number }}{% endblock %}

{% block body %}
    <h1>{{ sms.number }}</h1>
    <p>{{ sms.body }}</p>
    <hr>
    <a href="/list/sms">Go Back</a>
{% endblock %}